<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "exam/navbar.html" %}
  <br><br> <br> <br>
  <div class="jumbotron" style="margin-bottom:0px; background-color: slategray;">
    <h1 class="display-4" style="color: yellow;">Hello Student,</h1>
    <p class="text-center" style="color: black; font-size: 2rem;font-weight: 500;">and Welcome to Our Online Mock Test System</p>
    <p class="text-center" style="color: white;">If you are New to this Website then First Register yourself otherwise you can directly Login to your account.</p>
    <p class="lead text-center mt-5 ">
      <a class="btn btn-primary" href="studentsignup" style="border-radius: 0%;" role="button">Create Your Account</a>
      <a class="btn btn-success " href="studentlogin" style="border-radius: 0%;" role="button">Login Now</a>
    </p>
  </div>
 
  {% include "exam/footer.html" %}
</body>

</html>
