<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    .nav {
      margin: 0px;
      height: fit-content;

    }

    .bg-dark {
      background-color: rgb(238, 229, 229) !important;
    }

    .navbar-brand {
      /* font-size: 30px; */
      font-family: sans-serif;

    }
  </style>
</head>

<body>



 
    <nav class="navbar navbar-expand-md  navbar-light fixed-top" style="background-color: white;">
      <a style="color:black; font-size: 2.5rem; text-decoration: none;" href="https://placeopedia.herokuapp.com/">
        <p class="para" id="title"><span style="color: purple;">&#9763;</span> <span style="color:pink"
            class="para">P</span>laceo<span style="color:violet" class="para">P</span>edia</p>
      </a>

      <button type="button" class="navbar-toggler btn btn-primary" style="background-color: pink;" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon" style="color: pink;"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">

        </div>

        <div class="navbar-nav">
          <a id="home" onclick="home()"
            style="margin-right: 2px;  color: black; font-weight: 700; font-size: large; background-color: pink; padding-left: 2vw;padding-right:2vw;  "
            href="/" class="nav-item nav-link"> <b>Home</b></a>
          <a href="/student/studentclick" class="nav-item nav-link "
            style="margin-right: 2px; color: black; font-weight: 700; font-size: large; background-color: pink; padding-left: 2vw;padding-right:2vw; "
            id="student" onclick="student()"><b>Student</b></a>
          <a href="/adminclick" class="nav-item nav-link"
            style="margin-right: 2px; color: black; font-weight: 700; font-size: large; background-color: pink; padding-left: 2vw;padding-right:2vw; "
            id="admin" onclick="admin()"><b>Admin</b></a>
            <a href="https://placeopedia.herokuapp.com/contact/contact/" class="nav-item nav-link"
            style="margin-right: 2px; color: black; font-weight: 700; font-size: large; background-color: pink; padding-left: 2vw;padding-right:2vw; "
            id="contact" onclick="contact()"><b>ContactUs</b></a>


        </div>




      </div>
    </nav>
  <script>
    function home() {
      document.getElementById("home").style.backgroundColor = "grey";

    }
    function student() {
      document.getElementById("student").style.backgroundColor = "grey";
    }
    function admin() {
      document.getElementById("admin").style.backgroundColor = "grey";
    }
    function contact() {
      document.getElementById("contact").style.backgroundColor = "grey";
    }


    //   $("a").click(function(){
    //   $("a").css("background-color","");
    //   $(this).css("background-color","grey");
    // });
  </script>

</body>

</html>